<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña - CineCentral</title>
        <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>

    <div class="card">
        <h2>Recuperar Contraseña</h2>
        <form action="/api/recuperar-contrasena" method="POST">
            <label for="email">Correo electrónico registrado:</label>
            <input type="email" id="email" name="email" required placeholder="tucorreo@email.com">

            <label for="nuevaPassword">Nueva Contraseña:</label>
            <input type="password" id="nuevaPassword" name="nuevaPassword" required placeholder="Mínimo 6 caracteres">

            <button type="submit">Actualizar Contraseña</button>
        </form>
        <div class="back">
            <a href="/login">← Volver al Login</a>
        </div>
    </div>

</body>
</html>